{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Липучка. Досягай мети. Плануй! Дій.</title>
    <script type="module" crossorigin src="{% static 'assets/index-BD4Kr3pD.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'assets/index-C89h86xV.css' %}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
